#siteWrapper {
  overflow: hidden;
}

/* NAV STYLES */

.transparent-header #header {
  position: fixed;
}

#headerNav,
#showOnScrollWrapper {
  display: none !important;
}

#header .mobile-nav-toggle {
  display: block;
  height: 22px;
  width: 50px;
  position: absolute;
  z-index: 1002;
  top: 50%;
  right: 20px;
  margin-top: -13px;
  cursor: pointer;
}

#header .mobile-nav-toggle:after {
  content: 'menu';
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 16px;
  color: rgb(119, 119, 119);
  letter-spacing: 2px;
}

#header .mobile-nav-toggle .top-bar,
#header .mobile-nav-toggle .middle-bar,
#header .mobile-nav-toggle .bottom-bar,
#header .fixed-nav-toggle {
  display: none;
}

@media screen and (min-width: 640px) {
  #header .mobile-nav-toggle {
    margin-top: -39px;
  }
}

/* ANCHOR TEXT UNDERLINES */

.desc-wrapper p a {
  border: none;
  background: transparent;
  outline: none;
}

.desc-wrapper p a:hover {
  border-bottom: 1px dotted black;
}

/* FULL PAGE IMAGE BLEEDS */

#page,
.collection-type-index .page-content {
  max-width: 100%;
  padding: 96px 0;
}

.intrinsic {
  max-width: 100% !important;
}

.sqs-block-html {
  max-width: 1020px;
  margin: auto;
  padding: 30px !important;
}

/* FOOTER STYLES */

#footer-content {
  position: relative;
  margin-top: 30px;
}

#footer-content .social-icons,
#footer-content .rights {
  position: relative;
  width: 100%;
  height: 50px;
}

#footer-content .social-icons ul {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
}

#footer-content .social-icons ul li a img {
  width: 20px;
}

#footer-content .rights p {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

#footer-content .rights p a {
  color: white;
  border-bottom: 1px dotted white;
}

#footer-content .rights p span {
  margin-left: 10px;
}

@media screen and (min-width: 640px) {
  #footer-content {
    display: flex;
  }
  #footer-content .social-icons,
  #footer-content .rights {
    width: 50%;
  }
}

/* SEARCH STYLES */
.sqs-search-page-result {
  padding: 0;
}

body:not(.has-banner-image).transparent-header #content {
  padding: 30px;
  box-sizing: border-box;
  max-width: 1020px;
  margin: auto;
}

body:not(.has-banner-image).transparent-header #header,
.collection-type-gallery.has-banner-image.transparent-header #header {
  background: white;
}

.sqs-search-page {
  margin-top: 64px;
}

.sqs-search-page:before {
  content: 'search';
  position: absolute;
  background: white;
  height: 120px;
  width: 100%;
  left: 0;
  top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 20px;
}

@media screen and (min-width: 640px) {
  .sqs-search-page {
    margin-top: 144px;
  }
  .sqs-search-page:before {
    height: 200px;
    top: 140px;
  }
}

/* PASSWORD PAGE */

.sqs-slide-layer-content {
  background-size: cover;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/robert-girvin.appspot.com/o/gif%2Fprivacy_mode_1.gif?alt=media&token=b2d49fb3-0ad5-4dd8-a5ba-cc1f802d37ba);
}
